p{
    font-size: 30px;
    color:deepskyblue;
    font-family: 'Smokum', sans-serif
    /* font-family: Georgia, "Time New Roman", serif; 
    font-weight: lighter; */
    line-height: 1.5;
}

.dkdkdkdkdk{
    
}